/*----------------------
Global
-----------------------*/

body {
    color: #212121;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    margin-top: 4em;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Raleway, Helvetica, sans-serif;
    text-transform: uppercase;
}

h1 {
    font-size: 36px;
    letter-spacing: 2px;
}

span {
    color: #9400D3;
}

h2 {
    font-size: 56px;
    color: #9400D3;
    line-height: 3;
}

h3 {
    color: #9400D3;
    font-size: 14px;
    font-weight: bold;
    margin-top: 2em;
    text-transform: uppercase;
}

h4 {
    font-size: 14px;
}

.bold {
    color: #212121;
    font-weight: 600;
}

/*----------------------
Layout
-----------------------*/

section .row {
    max-width: 1000px;
}

/*----------------------
Menu
-----------------------*/

.navbar {
    background: #fff;
}


/* Hamburger menu icon */

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler-icon {
    color: black;
}

.navbar-nav .nav-link {
    color: #212121!important;
}

.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
    color: #9e9e9e!important;
}

.navbar .active {
    color: #9400D3!important;
}

nav a {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

/*----------------------
Hero
-----------------------*/

#hero {
    height: 60vh;
}

.profile {
    width: 16em;
    height: 16em;
    border-radius: 50%;
}

.title {
  min-width: 0px;
}

/* Typed.js */

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.cursor {
    animation: blink 0.7s infinite;
}

/*----------------------
About
-----------------------*/



/*----------------------
Portfolio
-----------------------*/

#portfolio {
    max-width: 900px;
}

#portfolio p {
    max-width: 580px;
    margin: 0 auto 79px auto;
}

/* portfolio filters */

.toggle {
    color: #212121;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.active {
    color: #9400D3;
}

.toggle:focus, .toggle:active:focus {
    outline: none;
}

.toggle:hover, .toggle:focus {
    cursor: pointer;
}

/* portfolio items & overlays */

.portfolio-image {
    margin-bottom: 32px;
}

.portfolio-item {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    background-color: #fff;
    border-top: solid 4px #fff;
    bottom: 0;
    color: #212121;
    left: 0;
    opacity: 0;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
    transition: .5s ease;
    }

.portfolio-item:hover .portfolio-overlay {
    border-top: solid 4px #9400D3;
    opacity: 0.96;
}

.portfolio-overlay-title {
    color: #9400D3;
    font-weight: bold;
    text-transform: uppercase;
}

/*----------------------
Skills
-----------------------*/

.skill-column {
    width: 320px;
    height: 320px;
}

.skill-title {
    background-color: #9400D3;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 14px 24px;
    text-transform: uppercase;
    max-width: 378px;
}

.skill-title:hover, .skill-title:focus {
    background: #000;
}

li {
    text-decoration: none;
}

/*----------------------
Contact form
-----------------------*/

.form-control{
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

/* Button */

.btn {
    border: 0 none;
    border-radius: 0px;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 14px 24px;
}

.btn-sm {
    font-size: 12px;
    padding: 10px 16px;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-black {
    background: #000;
    color: #fff;
}
 
.btn-black:hover, .btn-black:focus {
    background: #9400D3;
}
 
.btn-black:active, .btn-black.active {
    background: #440360;
    box-shadow: none;
}

/*----------------------
Footer
-----------------------*/

footer p {
    font-size: 12px;
}

.inline-link {
    font-weight: bold;
    color: #212121;
}

.inline-link:focus, .inline-link:active:focus {
    outline: none;
}

.inline-link:hover, .inline-link:focus {
    color: #9400d3!important;
}

.inline-link:active, .inline-link:visited {
    color: #440360;
}

/* Social media icons */

.fixed-container {
    position: fixed;
    top: 36vh;
    right: 0px;
    z-index: 1100;
}

.social-link {
    background-color: #212121;
    color: #fff;
    font-size: 18px;
    margin-bottom: 1px;
    height: 30px;
    width: 30px;
}

.social-link:focus, .social-link:active:focus {
    outline: none;
}

.social-link:hover, .social-link:focus, .social-link:active {
    color: #fff;
    background-color: #9400D3;
    text-decoration: none;
}

/* Made in Manchester */

.bee {
    height: 24px;
}

.madein {
    color: #212121;
}

.madein:focus, .madein:active:focus {
    outline: none;
}

.madein:hover, .madein:focus, .madein:active {
    color: #9400D3;
}

/*--------------------
Media Queries
----------------------*/

@media (max-width: 471px) {
  #hero {
    min-height: 80vh;
  }
  #portfolio h2 {
    margin-top: 36px;
  }  
  h2 {
      font-size: 38px;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .title {
      min-width: 544px;
    }
}

/*--------------------
Portfolio Page
----------------------*/

.project {
    max-width: 1200px;
}

.project-images img {
    margin-bottom: 4em;
}