/*----------------------
Global
-----------------------*/

body {
    color: #212121;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    margin-top: 4em;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Raleway, Helvetica, sans-serif;
    text-transform: uppercase;
}

h1 {
    font-size: 36px;
    letter-spacing: 2px;
}

span {
    color: #9400D3;
}

h2 {
    font-size: 56px;
    color: #9400D3;
    line-height: 3;
}

/*----------------------
Layout
-----------------------*/

section .row {
    max-width: 1000px;
}

/*----------------------
Menu
-----------------------*/

.navbar {
    background: #fff;
}


/* Hamburger menu icon */

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler-icon {
    color: black;
}

.navbar-nav .nav-link {
    color: #212121!important;
}

.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
    color: #9e9e9e!important;
}

.navbar .active {
    color: #9400D3!important;
}

nav a {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

/*----------------------
Hero
-----------------------*/

#hero {
    height: 60vh;
}

.profile {
    width: 16em;
    height: 16em;
    border-radius: 50%;
}

.title {
  min-width: 0px;
}

/* Typed.js */

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.cursor {
    animation: blink 0.7s infinite;
}

/*----------------------
About
-----------------------*/



/*----------------------
Portfolio
-----------------------*/

#portfolio {
    max-width: 900px;
}

#portfolio p {
    max-width: 580px;
    margin: 0 auto 79px auto;
}

#portfolio img {
    margin-bottom: 32px;
}

/*----------------------
Skills
-----------------------*/

.experience, .languages, .other {
    width: 320px;
    height: 320px;
}

.skill-title {
    background-color: #9400D3;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 14px 24px;
    text-transform: uppercase;
    width: 100%;
}

.skill-title:hover, .skill-title:focus {
    background: #000;
}

li {
    text-decoration: none;
}

/*----------------------
Contact form
-----------------------*/

.form-control{
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

/* Button */

.btn {
    border: 0 none;
    border-radius: 0px;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 14px 24px;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-black {
    background: #000;
    color: #fff;
}
 
.btn-black:hover, .btn-black:focus {
    background: #9400D3;
}
 
.btn-black:active, .btn-black.active {
    background: #440360;
    box-shadow: none;
}

/*----------------------
Footer
-----------------------*/

footer p {
    font-size: 12px;
}

.inline-link {
    font-weight: bold;
    color: #212121;
}

.inline-link:focus, .inline-link:active:focus {
    outline: none;
}

.inline-link:hover, .inline-link:focus {
    color: #9400d3!important;
}

.inline-link:active, .inline-link:visited {
    color: #440360;
}

/* Social media icons */

.fa {
    color: #212121;
    font-size: 18px;
    margin: 0 8px;
}

.fa:focus, .fa:active:focus {
    outline: none;
}

.fa:hover, .fa:focus {
    color: #9400D3;
}

.fa:active {
    color: #440360;
}

/*--------------------
Media Queries
----------------------*/

@media (max-width: 471px) {
  #hero {
    min-height: 80vh;
  }
  #portfolio h2 {
    margin-top: 36px;
  }  
  h2 {
      font-size: 38px;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .title {
      min-width: 544px;
    }
}